@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Customer Loyalty</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Customer Loyalty</h2>
        <p>
            The first, Thank you very much for the exam.
        </p>
        <p>I just focus design of the system and use the interface of MVC5 ASP.NET</p>
        <p>1. Download and install SQL Server</p>
        <p>2. Download and install Visual Studio</p>
        <p>3. Install Entity Framework</p>
        <p>4. Create Database Name in SQL Server</p>
        <p>5. Create Model CodeFirst Entity Framework because it will automation migrate table in database.</p>
        <p>6. Create Controller of Entity Framework. It auto generate the actions in Controller file.</p>
        <p>7. Add more config or config auto add when you create Model codefirst (generate connectionStrings tag).</p>
        <p>The model code first help me define column without create table in database.</p>
        <p> Awesome everything is best. </p>
        <p>If I have more time I will focus more the UX/UI of Customer Loyalty. So I focus design of the system for the exam logic backend.</p>

        <a class="btn btn-success" href="/CustomerCF">Go to CustomerCF</a>
    </div>
</div>